/* use unocss + transform-directive
fix unknown rule @apply by use @apply or https://stackoverflow.com/a/71655846
*/
@import '@fontsource/krub';

/* Translate from svelteKit Demo */
:root {
	font-family: krub;
}

* {
	font-family: krub;
	--at-apply: box-border;
}

body {
	@apply: bg-gradient-to-b from-blue-gray-200 min-h-screen;
}

h1, h2, p {
	@apply: c-heading fw-400;
}

h1 {
	@apply: text-center text-8 md: text-10;
}

h2 {
	@apply: text-4;
}

p {
	@apply: leading-6;
}

a:hover {
	@apply: bg-primary;
}

/* From Milligram CSS */
button, input[type='submit'], input[type='reset'] {
	@apply:  px-3 py-2 rd cursor-pointer fw-700 hover:(bg-primary) disabled:(op60 cursor-default);
}

pre {
	@apply: c-text bg-gray-1 p2 rd of-x-auto;
}

blockquote {
	@apply: b-primary b-l-3 p-2;
}

hr{
	@apply: m-8;
}
	/* Form */
input, select, textarea {
	@apply: bg-transparent b-1 rd p-2 focus:(bg-primary) mb-3;
}

label, legend {
	@apply: fw700;
}

input[type='checkbox'], input[type='radio'] {
	@apply: inline;
}

label > input { /* make input under label */
	@apply: block;
}

img {
	max-width: 100%;
}