/* use unocss + transform-directive
fix unknown rule @apply -> https://stackoverflow.com/a/71655846
*/
@import '@fontsource/krub';

:root {
	font-family: krub;
}

body {
	@apply: bg-gradient-to-b from-blue-gray-200 min-h-screen m0;
}

h1, h2, p {
	@apply: c-heading fw-400;
}

h1 {
	@apply: text-center text-8 md: text-10;
}

h2 {
	@apply: text-4;
}

p {
	@apply: leading-6;
}

a {
	@apply: c-accent no-underline;
}

a:hover {
	@apply: underline;
}

pre {
	@apply: c-text bg-gray-1 p2 rd of-x-auto;
}